<!DOCTYPE html>
<html>
  <head>
    <title>Bolt Network</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag asset_path('favicon.png'), rel: 'icon', type: 'image/png' %>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:200,300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:200,300,400,600,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= yield(:head).force_encoding(Encoding::UTF_8)  %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" >
    <%= yield %>

    <%#= render 'shared/footer' %>
  </body>
</html>
